[Desktop Entry]
Name=CLion
Comment=CLion IDE
Exec=clion %U
Icon=clion
Type=Application
Categories=TextEditor;Utility;Development;
Terminal=false
StartupWMClass=jetbrains-clion