[Desktop Entry]
Name=Neovim
Comment=Neovim GUI 
Exec=/opt/Neovide/neovide.AppImage %U
Icon=/opt/Neovim/assets/icon.svg
Type=Application
Categories=TextEditor;Utility;Development;
StartupNotify=true
Terminal=false
