[Desktop Entry]
Name=Neovim
Comment=Neovim GUI 
Exec=neovim %U
Icon=neovim
Type=Application
Terminal=false
Categories=TextEditor;Utility;Development;
StartupWMClass=neovide
