[Desktop Entry]
Name=Rider
Comment=Rider IDE
Exec=rider %U
Icon=/opt/rider/bin/rider.svg
Type=Application
Categories=TextEditor;Utility;Development;
Terminal=false